@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  position: relative;
  height: 100vh;
  font-weight: var(--normal);
}
button {
  padding: 4px 12px;
}
main {
  background-color: white;
  width: 87.2%;
  max-width: 384px;
  border: 1px black solid;
  box-shadow: 8px 8px black;
  transition: 0.15s;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.image-container {
  height: 200px;
  overflow: hidden;
}
.image-container img {
  object-fit: cover;
  height: 100%;
}

/* Variables */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --bold: 800;
  --normal: 500;
}

/* Some reusable classes */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.full {
  height: 100%;
  width: 100%;
}
.gap-11 {
  gap: 11px;
}
.gap-24 {
  gap: 24px;
}
.p-24 {
  padding: 24px;
}
.size-32 {
  height: 32px;
  width: 32px;
}
.rounded-1 {
  border-radius: 20px;
}
.rounded-2 {
  border-radius: 10px;
}
.rounded-3 {
  border-radius: 4px;
}
.bold {
  font-weight: var(--bold);
}
.width-fit {
  width: fit-content;
}

.button {
  width: fit-content;
  background: var(--yellow);
  border: none;
}
.publish-date {
  color: var(--gray-950);
}

/* Hover and active effects */
main:hover .title {
  color: var(--yellow);
  cursor: pointer;
}
main:hover {
  box-shadow: 16px 16px black;
}

/* Mobile approach and media-querries*/
.button,
.publish-date,
.name {
  font-size: 12px;
  line-height: 150%;
}
.title {
  font-size: 20px;
  line-height: 150%;
}
.description {
  font-size: 14px;
  color: var(--gray-500);
  line-height: 150%;
}

@media (min-width: 576px) {
  .button,
  .publish-date,
  .name {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
